{% extends 'dent/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <style>
        .header {background: url("/static/dent/images/about.jpg") no-repeat;
        background-size: cover;}
        .lead {
            font-size: 30px;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 10px;
            transition: 0.8s;
        }
        .lead:hover {
            background-color: rgba(255, 255, 255, 1);
            transition: 0.8s;
        }
    </style>

<section class="container py-5" style="margin-block:200px;" id="team">
    <div class="row text-center">
        <div class="col-lg-8 mx-auto" >

            <p class="lead">{% trans "Rely on established and competent professionals." %}</p>
        </div>
    </div>

    <div class="container">
        <div class="row text-center" style="align-items: center;
  justify-content: center;">
            {% for team in team_list %}
            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="{{ team.photo.url }}" alt="" class="mh-100 img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">{{ team.name }}</h5>
                    <span class="small text-uppercase text-muted">{{ team.description }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}